.form{
    display: flex;
    padding-left: 2rem;
    justify-content: center;
    gap: 2rem;
}
.search-input{
    padding-left: 2.5rem;
    font-family: Inter, sans-serif;
    width: 43.375rem;
    height: 3.625rem;
    border: 1px solid #DFE4EA;
    outline: none;
    font-size: 1.25rem;
    font-weight: 400;
    border-radius: 0.5rem;
    background-color: #DFE4EA;
    margin-bottom: 1.5rem;
}
