@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.bottom-button{
    font-family: Inter, sans-serif;
    height: 35px;
    font-size: 16px;
    font-weight: 600px;
    color: white;
    background-color: #29335C;
    border-radius: 8px;
    padding: 8px 16px;
}
