@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.first-button{
    font-family: Inter, sans-serif;
    width: 210px;
    height: 58px;
    font-weight: 600px;
    font-size: 20px;
    border-radius: 8px;
    background-color: #F3663F;
    color: white;
    @media (max-width: 460px){
        width: 396px;
        height: 58px;
        margin: auto;
    }
}