@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.search-btn{
    font-family: Inter, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13.125rem;
    height: 3.625rem;
    font-weight: 37.5rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    background-color: #F3663F;
    cursor: pointer;
    color: white;
    @media (max-width: 832px){
        width: 27.45rem;
    }
}