$myColor: #18214D;



.first-text{
    color: $myColor;
    text-align: center;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 72px;
    width: 540px;
    height: 160px;
    line-height: 80px;
}

.second-text{
    width: 445px;
    text-align: center;
    margin: auto auto 32px auto;
    color: #3E4462;
    font-size: 20px;
    height: 88px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
}
h5{
    text-align: center;
}
.search-commit{
    padding-left: 40px;
    font-family: Inter, sans-serif;
    width: 694px;
    height: 58px;
    border: 1px solid #DFE4EA;
    outline: none;
    font-size: 20px;
    font-weight: 400;
    border-radius: 8px;
    background-color: #DFE4EA;
    margin-bottom: 24px;
}
.mapped-btns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    
}
.input-search{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}
.option{
    height: 20px;
    text-align: center;
    font-size: 14px;
    color: #3E4462;
    margin-bottom: 24px;
}

.input-button{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.buttons{
    display: flex;
    gap: 2rem;
    margin-top: 32px;
    justify-content: center;
}

.initial-button{
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-size: 16px;
    text-align: center;
    color: white;
    border: none;
    background-color: #29335C;
    border-radius: 8px;
    padding: 8px 16px;
}

@media (max-width: 460px){
    .first-text{
        margin: auto;
        font-size: 56px;
        margin-top: 32px;
        width: 396px;
        line-height: 62px;
        font-weight: 600;
    }
    .second-text{
        height: 84px;
        width: 396px;
    }
    .input-button{
        flex-direction: column;
    }
    .buttons{
        flex-direction: column;
        
    }
    .option{
        margin-top: 20px;
        margin: auto;
        width: 180px;
    }
    .initial-button{
        margin: auto;
        padding: 0;
    }
    .second-button{
        margin: auto;
        padding: 0;
    }
    .third-button{
        margin: auto;
        padding: 0;
    }
    .fourth-button{
        margin: auto;
        padding: 0;
    }
    .search-input{
    width: 396px;
    height: 58px;
    margin: auto;
    margin-top: 20px;
    }
}