@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

$myColor: #29335C;

.commit-head{
    display: flex;
    background-color: #EFF2F6;
    padding: 40px 145px 40px;
}
h2{
    color: $myColor;
    font-size: 28px;
    font-weight: 700px;
    font-family: Inter, sans-serif;
}
.form{
    display: flex;
    padding-left: 32px;
    gap: 2rem;
}
.head-input{
    font-family: Inter, sans-serif;
    width: 666px;
    color: $myColor;
    padding-left: 40px;
    border: 1px solid #DFE4EA;
    outline: none;
    height: 58px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 8px;
    background-color: #DFE4EA;
}

h3{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    color: $myColor;
    font-family: Inter, sans-serif;
}
.profiles{
    display: flex;
    flex-direction: column;
}
.update-container{
    display: flex;
    justify-content: space-around;
}
.profile-container{
    width: 60px;
    height: 60px;
    background-color: #C4C4C4;
    border-radius: 50%;
    margin-bottom: 10px;
}

h6{
    color: $myColor;
    font-size: 20px;
}
.date{
    margin-left: 319px;
    color: $myColor;
    font-size: 20px;
    padding-top: 20px;
}
.person-name{
    text-align: center;
    font-size: 22px;
    color: $myColor;
    margin-top: 0;
}
