@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

$myColor: #29335C;

.commit-head{
    display: flex;
    background-color: #EFF2F6;
    padding: 40px 145px 40px;
}
h2{
    color: $myColor;
    font-size: 28px;
    font-weight: 700px;
    font-family: Inter, sans-serif;
}
h3{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    color: $myColor;
    font-family: Inter, sans-serif;
}
.profiles{
    width: 160px;
    text-align: center;
    padding-left: 100px;
}
.update-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}
.profile-container{
    width: 60px;
    height: 60px;
    background-color: #C4C4C4;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 10px;
}
h5{
    color: $myColor;
    font-size: 20px;
}
h6{
    color: $myColor;
    font-size: 20px;
    max-width: 900px;
    padding-left: 100px;
}
.date{
    margin-left: 319px;
    color: $myColor;
    font-size: 20px;
    padding-top: 20px;
}
.person-name{
    font-size: 22px;
    color: $myColor;
    margin-top: 0;
}
