@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

$myColor: #18214D;


.layout{
    display: flex;
    margin-top: 60px;
}

.info{
    display: flex;
    margin-left: 719px;
    padding: 40px 145px 40px;
}

.app-name{
    font-family: Inter, sans-serif;
    height: 34px;
    font-weight: 700;
    font-size: 28px;
    color: $myColor;
}

.about-info{
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: $myColor;
}

.contact-info{
    color: $myColor;
    font-family: Inter, sans-serif;
    margin-left: 80px;
    font-weight: 400;
    font-size: 20px;
}
@media (max-width: 460px){
    .layout{
        flex-direction: column;
        gap: 1.5rem;
    }
    .app-name{
        margin: auto;
    }
    .info{
        margin-top: 16px;
        margin: auto;
    }
}