@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

$myColor: #29335C;

.loading-head{
    display: flex;
    justify-content: space-around;
    margin: auto;
    background-color: #EFF2F6;
    padding: 10px 0;
}

h2{
    text-align: center;
    color: $myColor;
    font-size: 28px;
    font-weight: 700px;
    font-family: Inter, sans-serif;
}