@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.first-input{
    font-family: Inter, sans-serif;
    width: 694px;
    height: 58px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 8px;
    background-color: #DFE4EA;
    margin-bottom: 24px;
}